.marathon-main
    position: relative
    height: 80vh
    text-align: center
    color: #fff
    background: url(../img/microphone.jpg) center center/cover no-repeat
    background-position: 0 -110px
    background-repeat: no-repeat 
    padding: 80px 0 0
    &__wrapper
        margin: 0 auto
    &__title
        font-size: 60px
    span
        display: block
        line-height: 1px
        font-size: 40px
        margin: 40px 0 60px
    &__subtitle
        
    &__btn
        margin: 80px 0 25px
        color: #fff
        background-color: #7e7d7d
        font-size: 20px
    .start
